[Desktop Entry]
Categories=Qt;System;
Comment[pl]=Menedżer pakietów oparty na wrapperze pacmana o nazwie pak
Comment=Package manager based on pacman wrapper named pak
Comment[en]=Package manager based on pacman wrapper named pak
Comment[de]=Ein Paketmanager, der auf dem pacman-Wrapper namens pak basiert
Comment[cs]=Správce balíčků založený na pacman wrapperu s názvem pak
Exec=pak-gui
GenericName[pl]=pak-gui
GenericName=pak-gui
Icon=pak-gui
Keywords=pacman;pak;wrapper;
MimeType=
Name[pl_PL]=pak-gui
Name=pak-gui
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DocPath=pak-gui/index.html
