[Desktop Entry]
Categories=Qt;System;
Comment[pl]=Menedżer pakietów oparty na wrapperze pacmanas o nazwie pak
Comment=Package manager based on pacman wrapper named pak
Comment[en]=Package manager based on pacman wrapper named pak
Exec=pak-gui
GenericName[pl]=pak-gui
GenericName=pak-gui
Icon=pak-gui
Keywords=pacman;pak;wrapper;
MimeType=
Name[pl_PL]=pak-gui
Name=pak-gui
Path=/usr/bin
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DocPath=pak-gui/index.html
