<?xml version="1.0" encoding="UTF-8"?>
<gui name="pak-gui"
     version="1"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
<MenuBar>
    <Menu name="Actions">
      <text>A&amp;ctions</text>
      <Action name="updateAllPackages"/>
      <Action name="updateMirrors"/>
      <Action name="update"/>
      <Action name="clean"/>
      <Action name="refresh"/>
      <Action name="download"/>
    </Menu>
    <Menu name="Print">
      <text>P&amp;rint</text>
      <Action name="statistics"/>
      <Action name="installedVcsPackages"/>
    </Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
    <text>Main Toolbar</text>
    <Action name="update"/>
    <Separator/>
    <Action name="refresh"/>
    <Separator/>
    <Action name="download"/>
</ToolBar>
</gui>
